@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #e5e5e5;
  min-width: 375px;
  margin-right: 20px;
}

.wrapper {
  width: 100%;
  background-color: #e5e5e5;
  padding: 0 0 8px 24px;
}

.container-homepage {
  background: url("/images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 10px 2px;
  max-height: 800px;
  height: auto;
  max-width: 100%;
  border-bottom-left-radius: 80px;
  background-color: #fff;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-only-container {
  padding-top: 114px;
}

.header-1 {
  background-color: #6070ff;
  mix-blend-mode: multiply;
}

.status-bar {
  min-width: 375px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-content: center;
  z-index: 100;
}

.hamburger-clicked span {
  color: #fff;
  padding-left: 32px;
}

.mobile-status .cellular,
.mobile-status .wifi,
.mobile-status .battery {
  background-color: white;
}

.status-bar .time {
  width: 24px;
  height: 21px;
  padding: 3px 0 2px 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-bar .time span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding: 3px 0 2px 0;
  color: black;
}

.mobile-status {
  width: 66px;
  height: 11.34px;
  padding: 17.33px 14.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mobile-status .wifi {
  width: 15.27px;
  height: 10.97px;
}

.mobile-status .battery {
  width: 24.33px;
  height: 11.33px;
}

.status-img {
  display: block;
}

.header-2 {
  position: fixed;
  right: 20px;
  left: 23.5px;
  border-radius: 7px;
  z-index: 10000;
}

.logo-menu-header {
  max-width: 100%;
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
}

.my-logo,
.my-logo-mobile {
  width: 100px;
  height: 40px;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

li a i {
  color: #6070ff;
  width: 16px;
}

.frame-7-languages i {
  height: 6px;
  width: 12px;
  color: #5e6c84;
}

.skill-and-framework i {
  width: 6px;
  height: 12px;
  color: #5e6c84;
}

.popup-title-and-closeIcon-container i {
  height: 40px;
  width: 40px;
  font-size: 24px;
  color: #67798e;
  opacity: 0.7;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-bar button i {
  height: 12px;
  width: 18px;
  color: #6070ff;
}

li .social-network i {
  color: grey;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
}

.popup-title-and-closeIcon-container i:hover {
  color: #67798e;
  font-size: 30px;
  opacity: 0.4;
  background-color: #fff;
}

.menu-bar button i:active {
  color: #fff;
}

li {
  list-style: none;
}

/* Styling anchor tags */
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

li a {
  text-decoration: none;
  position: relative;
}

.section-home {
  max-width: 375px;
  padding: 114px 24px 136px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

@keyframes bubble {
  from { color: #17284d; }
  to { color: #6070ff; }

  from { font-size: 40px; }
  to { font-size: 50px; }
}

@keyframes whoami {
  from { color: #344563; }
  to { color: #6070ff; }
}

.name-welcome {
  color: #17284d;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  height: 101px;
  max-width: 100%;
  display: flex;
  align-items: center;
  animation-name: bubble;
  animation-duration: 4s;
}

.description-of-me {
  color: #344563;
  padding-top: 36px;
  padding-bottom: 12px;
  animation-name: whoami;
  animation-duration: 4s;
}

.lets-connect-about {
  height: 80px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.lets-connect-statement {
  max-width: 100%;
  height: 24px;
  color: #7f8cff;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
}

.contact-with-social {
  color: #7f8cff;
}

.social-networks li {
  display: inline-block;
}

.social-network {
  text-decoration: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}

.social-networks .social-network i:hover {
  color: #6070ff;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
  border-radius: 8px;
}

.grids-wrapper {
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 100%;
  row-gap: 88px;
  background-color: #e5e5e5;
  padding: 114px 0;
}

.grid {
  height: 100%;
  min-width: 327px;
  max-width: 767.98px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
}

.grid1 {
  grid-row: 1 /2;
}

.grid2 {
  grid-row: 2 /3;
}

.grid3 {
  grid-row: 3 /4;
}

.grid4 {
  grid-row: 4 /5;
}

.grid-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.grid-image-each {
  width: 100%;
}

.grid-title {
  height: auto;
  width: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.experience-container {
  height: 32px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.experience-item {
  height: 16px;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 0;
  color: #7a869a;
  display: flex;
  align-items: center;
}

.experience .canopy {
  color: #344563;
}

.experience .counter {
  height: 8px;
  width: 8px;
  color: #c1c7d0;
  display: flex;
  align-items: center;
}

.project-description {
  height: auto;
  min-width: 295px;
  max-width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.technologies {
  height: 24px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-top: auto;
}

.tech-container {
  height: 24px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  margin-left: 29px;
}

.tech {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 2px 5px;
}

.tech2 {
  width: auto;
}

.tech-javascript {
  width: 65px;
}

.tech .lets-connect-about {
  margin-bottom: 22px;
}

.action-grid-btn,
.about-me-btn {
  width: 100%;
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #396df2;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
}

.btn-lan-skill,
.btn-lib-skill,
.btn-prof-skill,
.btn-lan-chevron-up,
.btn-lib-chevron-left,
.btn-prof-chevron-left {
  border: none;
  cursor: pointer;
}

.btn-lan-skill .fa-chevron-up,
.btn-lan-chevron-up,
.btn-lib-chevron-left,
.btn-prof-chevron-left {
  display: none;
}

.popup-tech {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 2px 5px;
  border-radius: 8px;
}

.tech:hover,
.popup-tech:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
  color: #fff;
  border-radius: 8px;
}

.tech:active {
  background-color: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.action-grid-btn:hover,
.about-me-btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  padding: 16px;
}

.action-grid-btn:active {
  background-color: #2230d2;
  border-radius: 8px;
  color: #fff;
}

/* Popup window style starts here */
.popup-mobile-version {
  background-color: #c1c7d0;
}

.popup-card-wrapper {
  width: 90%;
  height: 95%;
  background-color: #fff;
  padding: 30px 30px 30px 30px;
  margin: 16px 16px;
}

.popup-card {
  height: 823px;
  min-width: 375px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.popup-title-and-closeIcon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-right: 10px;
}

.main-image {
  width: 100%;
}

.popup-experience {
  height: 32px;
  width: 236px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.popup-exp-name {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.popup-role {
  width: 88px;
}

.popup-year {
  width: 29px;
}

.popup-counter {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.popup-client {
  color: #344563;
  width: 55px;
}

.popup-card-text {
  height: 220px;
  min-width: 311px;
  width: 100%;
  border-radius: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.popup-technologies {
  height: 24px;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
  margin-bottom: 20px;
}

.popup-html-tech {
  width: 29px;
}

.popup-css-tech {
  width: 21px;
}

.popup-javascript-tech {
  width: 65px;
}

.popup-button-group {
  height: 56px;
  min-width: 311px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px 16px 16px 16px;
  gap: 10px;
  margin-top: -20px;
}

.popup-knowBtns {
  height: 48px;
  max-width: 146px;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
}

.popup-knowBtns .popup-btn-text {
  border: none;
  width: 215px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  background-color: #fff;
}

.popup-btn-text:hover {
  font-size: 14px;
  color: #fff;
}

.popup-knowBtns img {
  background-color: #6070ff;
  color: #6070ff;
  width: 24px;
  height: 24px;
}

.hide {
  display: none;
}

.about-myself {
  max-width: 100%;
  height: auto;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 9%;
}

.top {
  height: 409px;
  max-width: 327px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.skill-list {
  padding-top: 70px;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-myself-social-ntks {
  height: 40px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.frame-7-languages {
  height: 72px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-7-languages a {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.language-list {
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.frame-9-10-11 {
  height: 66.72px;
  max-width: 100%;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.frame-9-10-11-pkills {
  width: auto;
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.frame-9-10-11 a,
.frame-9-10-11-pskills a {
  height: 24px;
  width: 215px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frame-9-10-11-pskills a {
  height: auto;
  width: auto;
  background-color: #f7f7f9;
  padding: 3px 5px;
}

.frame-9-10-11 img {
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #505f79;
}

.skill-and-framework {
  height: 72px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.skill-and-framework-only {
  margin-top: 30px;
}

.skill-and-framework a {
  height: 24px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

/* End of Styling about myself section */

/* ......Contact Form....... */
footer {
  margin-top: -50px;
}

.form-container {
  position: relative;
  height: 779px;
  background: #6070ff;
  border-top-left-radius: 25%;
  max-width: 100%;
}

.contact-form-shapes {
  position: absolute;
  min-width: 265px;
  max-width: 100%;
  height: 709.17px;
}

.contact-me-title {
  height: 56px;
  max-width: 801px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-top: 103px;
  margin-bottom: 12px;
}

.contact-me-text {
  height: auto;
  max-width: 100%;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 12px 24px 24px 24px;
}

form {
  padding: 0 24px 0 24px;
  min-height: 374px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 24px;
}

.input-field {
  height: 48px;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form1-input {
  padding: 15px 38px 15px 16px;
  height: 100%;
  min-width: 273px;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  border: none;
}

.name {
  margin-bottom: 20px;
}

.email {
  margin-bottom: 18px;
}

.message {
  margin-bottom: 22px;
  height: 170px;
}

.input-field textarea {
  height: 100%;
  min-width: 273px;
  width: 100%;
  font-size: 15px;
  color: #b3bac5;
}

.get-me-btn {
  height: 48px;
  width: 140px;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
}

.get-me-btn:hover {
  width: 160px;
  font-size: 20px;
  color: #344563;
}

.error-message,
.error-message-empty {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 10px;
  color: red;
  display: none;
}

/* Mobile Menu starts  */
.mobile-menu-wrapper {
  max-height: 822px;
  min-width: 375px;
  background-color: #6070ff;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0;
  z-index: 10000;
}

.navbar {
  height: 48px;
  min-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #777;
}

.mobile-menu {
  position: absolute;
  height: 184px;
  width: 351px;
  left: 12px;
  top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.bar {
  background-color: #777;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 1.5rem;
  font-weight: lighter;
  border-radius: 5px;
  position: relative;
  top: calc(50% - 5px);
  transform: translateX(-40%);
}

.navbar.menu-bar .closeBtn {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
}

.navbar.menu-bar .closeBtn:active {
  color: #fff;
}

.mobile-menu-wrapper .mobile-menu .mobile-menu-item {
  list-style: none;
  width: 251px;
  height: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 24px 96px 40px 28px;
}

.mobile-menu-close {
  color: white;
  font-size: 1.5em;
  height: 12px;
  width: 12px;
  position: absolute;
  right: 72px;
  top: 52px;
  border-radius: 0;
}

.mobile-menu-close a {
  color: #fff;
}

.mobile-menu-wrapper .mobile-menu .mobile-menu-item a {
  color: #fff;
  text-decoration: none;
}

.activeIcon {
  display: none;
}

.activeMobileMenu {
  display: none;
}

/* Mobile Menu End  */

/* Media queries */

/* media queries for the header */
@media screen and (min-width: 768px) {
  .wrapper {
    height: auto;
    max-width: 1440px;
    background: #f4f5f7;
  }

  .status-bar {
    display: none;
  }

  .navbar {
    display: none;
  }

  .logo-link {
    height: 40px;
    width: 100px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
  }

  .my-logo {
    height: 20px;
    width: 76px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .menu-desk {
    height: 40px;
    width: 259px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .portfolio-link {
    height: 40px;
    width: 87px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 1.5s;
  }

  .portfolio-link:hover {
    width: 150px;
  }

  .portfolio-link a {
    height: 20px;
    width: 63px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 20px;
    color: #344563;
    transition: all 2s;
  }

  .about-link {
    height: 40px;
    width: 70px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 1.5s;
  }

  .about-link a {
    height: 20px;
    width: 46px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    transition: 1.5s;
  }

  .contact-link {
    height: 40px;
    width: 86px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 1.5s;
  }

  .contact-link a {
    height: 20px;
    width: 62px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    transition: all 1.5s;
  }

  .menu-anchor-tag:hover {
    color: #6070ff;
    background-color: #fff;
    padding: 12px;
    width: auto;
    border-radius: 10px;
  }

  .portfolio-link:hover,
  .about-link:hover,
  .contact-link:hover {
    width: 150px;
  }

  .header-2 {
    background-color: #777;
    position: fixed;
    z-index: 10000;
    padding-right: 5%;
  }

  /* End of media queries for the header */
  .section-home {
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-only-container {
    min-width: 868px;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 185px 100px 159px 100px;
  }

  #name-welcome-mobile {
    display: none;
  }

  /* Works section-media query. */
  .section-works {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grids-wrapper {
    width: 100%;
  }

  .grid {
    margin-top: 24px;
    padding-top: 24px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .language-list li img {
    height: 48px;
    max-width: 48px;
    border-radius: 0;
  }

  .grid .grid-image {
    padding-top: 24px;
    height: 448px;
    max-width: 544px;
    border-radius: 8px;
  }

  .grid .grid-image img {
    width: 100%;
  }

  .grid-title {
    width: 100%;
  }

  .grid .grid-body {
    height: auto;
    max-width: 544px;
    border-radius: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .grid-body p {
    height: auto;
    max-width: 496px;
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .grid-body .technologies {
    height: 24px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin-left: 29px;
  }

  .grid-body .technologies .tech-container {
    height: 24px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
  }

  .grid-body .technologies .tech-container .tech {
    width: auto;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .grid-body .technologies .tech-container .tech:nth-child(4) {
    width: auto;
  }

  .popup-card-wrapper {
    background-color: #c1c7d0;
    padding: 30px 30px 30px 30px;
  }

  .popup-card-wrapper-1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .popup-card {
    height: 823px;
    background-color: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 24px 0 24px;
  }

  .popup-title-and-closeIcon-container {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .popup-title-and-closeIcon-container-1 {
    width: 80%;
    align-items: flex-start;
  }

  .main-image-1 {
    width: initial;
  }

  .popup-body {
    width: 100%;
    height: 382px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 59px 24px 0 24px;
    margin-top: -20px;
  }

  .popup-body-1 {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .popup-body-text {
    width: auto;
    height: 382px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .popup-body-text-1 {
    width: 75%;
  }

  .popup-techs-and-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tags .tag-container-ruby {
    height: 24px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  .tags .tag-container-ruby .ruby {
    height: 16px;
    width: 90px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    border: 0;
    display: flex;
    align-items: center;
  }

  .tags .tag-container-ruby .ruby:hover {
    color: #fff;
  }

  /* End of Works section-media query. */
  .about-myself {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    justify-content: center;
    padding-left: 142px;
    padding-right: 142px;
    height: auto;
    max-width: 1440px;
    max-width: 100%;
    background: #fff;
    border-top-right-radius: 9%;
    border: 1px solid #dfe1e6;
  }

  .about-myself .top {
    min-height: 392px;
    height: auto;
    width: 447px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
  }

  .about-myself .skill-list {
    height: 360px;
    width: 684px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .skill-list .frame-7-languages,
  .skill-list .skill-and-framework {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 144px;
    padding: 12px 12px;
  }

  .language-list .frame-9-10-11 {
    height: 70px;
    width: 80px;
    border-radius: 8px;
    background: #f7f7f9;
    display: flex;
    flex-direction: column;
  }

  .frame-9-10-11-pskills {
    width: auto;
    border-radius: 8px;
    background: #f7f7f9;
  }

  .frame-9-10-11-pskills a {
    width: 120px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .language-list li a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* End of About me section media query   */
  footer {
    max-width: 1440px;
    max-width: 100%;
    border-radius: 0;
    margin-top: -100px;
    border-top-left-radius: 8.5%;
    background: #6070ff;
  }

  .contact-form-shapes-mobile {
    display: none;
  }

  .form-container {
    max-width: 801px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 127px;
  }

  .form-container .contact-me-title {
    padding-top: 100px;
  }

  .name,
  .email {
    height: 48px;
    width: 447px;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
  }

  .message {
    height: 170px;
    width: 447px;
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
  }

  .desk-shapes-in-form {
    background-image: url("/images/contact-form-background-shapes-2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: -100px;
    background-position: -74px 50px;
    height: 718.69873046875px;
    width: 1440px;
    max-width: 100%;
  }

  .contact-me-text {
    height: 102px;
    width: 569px;
    max-width: 100%;
    border-radius: 0;
  }

  form .get-touch {
    height: 48px;
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    padding: 12px 16px;
    background: #fff;
    border-radius: 8px;
  }

  form .get-touch button {
    height: 24px;
    max-width: 110px;
    border-radius: 0;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .error-message {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .logo-menu-header {
    display: none;
  }

  .card-works-desk {
    display: none;
  }

  .top {
    height: 392px;
    width: 447px;
    border-radius: 0;
    display: flex;
    padding: 0;
    gap: 24px;
  }

  .contact-form-shapes {
    display: none;
  }

  .desk-shapes-in-form {
    display: none;
  }

  #name-welcome-desk {
    display: none;
  }

  .multipost-stories-desk {
    display: none;
  }

  .contact-form-shapes-mobile {
    display: block;
  }
}
